<p id="notice"><%= notice %></p>

<p>
<%= link_to image_tag(@asset.photo.url(:medium)), @asset.photo.url(:large), :rel => "lightbox", :title => "#{@asset.name}<br/>#{@asset.model}<br/>#{@asset.description}"  unless @asset.photo_file_name.nil? %>
</p>

<p>
  <b>Name:</b>
  <%= @asset.name %>
</p>

<p>
  <b>Model:</b>
  <%= @asset.model %>
</p>

<p>
  <b>Serial:</b>
  <%= @asset.serial %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @asset.description %>
</p>

<p>
  <b>Contents:</b>
  <%= simple_format @asset.contents %>
</p>

<p>
  <b>Category:</b>
  <%= @asset.category.name unless @asset.category.nil? %>
</p>

<p>
  <b>Owner:</b>
  <%= @asset.owner.name unless @asset.owner.nil? %>
</p>

<p>
  <b>User:</b>
  <%= @asset.user.name unless @asset.user.nil? %>
</p>

<p>
  <b>Inv. №:</b>
  <%= @asset.inv_no %>
</p>

<p>
  <b>Date:</b>
  <%= @asset.date %>
</p>

<p>
<%= image_tag asset_url(@asset) + ".svg" %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
